@inherits CovidTrackerWASM.Client.Components.AllModel
@using CovidTrackerWASM.Shared.Common

@if (@allData == null)
{
    <img class="mx-auto d-block" style="opacity: 0.75;" src="img/loading.gif" />
}
else
{
        @if (@allData != null)
        {
            <div class="container">
                <div class="card">
                    <img class="card-img-top img-fluid" src=@Constants.GLOBAL_MAP GLOBAL_MAP alt="CDC World Map">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Cases: @String.Format("{0:n0}", allData.Cases)</li>
                        <li class="list-group-item">Deaths: @String.Format("{0:n0}", allData.Deaths)</li>
                        <li class="list-group-item">Recovered: @String.Format("{0:n0}", allData.Recovered)</li>
                        <li class="list-group-item">Active: @String.Format("{0:n0}", allData.Active)</li>
                        <li class="list-group-item">Updated : @_convertedDate</li>
                    </ul>

                </div>
            </div>
        }
   
}
@*<ul class="nav nav-tabs">
        <li class="nav-item">
            <button class="@_class" @onclick="@(e => SetComponent(e, (int)Enums.ComponentType.All))">All Data</button>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="#">Disabled</a>
        </li>
    </ul>*@