@inherits CovidTrackerWASM.Client.Components.CountriesModel
@using CovidTrackerWASM.Shared.Models
@using CovidTrackerWASM.Shared.Common

@if (@_countryData == null)
{
    <img class="mx-auto d-block" style="opacity: 0.75;" src="img/loading.gif" />
}
else
{
    @if (@_countryData != null)
    {
        <div class="pt-3 pb-3">
            <div class="container">
                <div class="row text-center">
                    <div class="col-2"></div>
                    <div class="col-8">                            <img class="card-img-top img-fluid w-75" src="@_currentFlag"></div>
                    <div class="col-2"></div>
                </div>
                <div class="row text-center pt-2">
                    <div class="col-3"></div>
                    <div class="col-6">
                        <select class="form-control align-self-center" @onchange="SelectedValueChanged">
                            @foreach (var i in _countryDropdownData)
                            {
                                <option value="@i">@i</option>
                            }
                        </select>
                    </div>
                    <div class="col-3"></div>
                </div>
            </div>
        </div>

        <div class="pt-3 pb-3">
            <div class="container pt-3">
                <div class="card">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Cases: @String.Format("{0:n0}", _currentItem.Cases)</li>
                        <li class="list-group-item">Cases: @String.Format("{0:n0}", _currentItem.TodayCases)</li>
                        <li class="list-group-item">Deaths: @String.Format("{0:n0}", _currentItem.Deaths)</li>
                        <li class="list-group-item">Deaths: @String.Format("{0:n0}", _currentItem.TodayDeaths)</li>
                        <li class="list-group-item">Recovered: @String.Format("{0:n0}", _currentItem.Recovered)</li>
                        <li class="list-group-item">Active: @String.Format("{0:n0}", _currentItem.Active)</li>
                        <li class="list-group-item">Active: @String.Format("{0:n0}", _currentItem.Critical)</li>
                        <li class="list-group-item">Active: @String.Format("{0:n0}", _currentItem.CasesPerOneMillion)</li>
                        <li class="list-group-item">Active: @String.Format("{0:n0}", _currentItem.DeathsPerOneMillion)</li>
                        <li class="list-group-item">Updated : @_convertedDate</li>
                    </ul>
                </div>
            </div>
        </div>
    }
}