@inherits CovidTrackerWASM.Client.Components.StatesModel
@using CovidTrackerWASM.Shared.Models
@using CovidTrackerWASM.Shared.Common

@if (@_stateData == null)
{
    <img class="mx-auto d-block pt-3 pl-2 img-fluid" src="img/loading.gif" />
}
else
{
    @if (@_stateData != null)
    {
        <div class="pt-3">
            <div class="container">
                <div class="row text-center">
                    <div class="col-1"></div>
                    <div class="col-10">
                        <img class="card-img-top img-fluid" src="@Constants.USA_MAP">
                    </div>
                    <div class="col-1"></div>
                </div>
                <div class="row text-center pt-2">
                    <div class="col-3"></div>
                    <div class="col-6">
                        <select class="form-control align-self-center" @onchange="SelectedValueChanged">
                            @foreach (var i in _stateDropdownData)
                            {
                                <option value="@i">@i</option>
                            }
                        </select>
                    </div>
                    <div class="col-3"></div>
                </div>
            </div>
        </div>

        <div class="pb-3">
            <div class="container pt-3">
                <div class="card">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">State: <b>@String.Format("{0:n0}", _currentItem.State)</b></li>
                        <li class="list-group-item">Cases: @String.Format("{0:n0}", _currentItem.Cases)</li>
                        <li class="list-group-item">Cases Today: @String.Format("{0:n0}", _currentItem.TodayCases)</li>
                        <li class="list-group-item">Deaths: @String.Format("{0:n0}", _currentItem.Deaths)</li>
                        <li class="list-group-item">Deaths Today: @String.Format("{0:n0}", _currentItem.TodayDeaths)</li>
                        <li class="list-group-item">Active: @String.Format("{0:n0}", _currentItem.Active)</li>
                    </ul>
                </div>
                <div class="col-2"></div>
            </div>
        </div>
    }
}